/* VERSÃO DESKTOP */

@media screen and (min-width: 768px){
    #menu-burguer {
        display: none;
    }

    nav {
        display: block;
    }

    nav > ul > li {
        display: inline-block;
    }

    nav > ul > li > a {
        border-radius: 5px;
        margin-right: 5px;
    }

    main {
        width: 748px;
    }
}