/* VERSÃO MOBILE-FIRST */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
    background-color: rgb(243, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
}

header > h1 {
    background-color: rgb(23, 23, 182);
    padding: 10px;
    text-align: center;

    color: white;
    padding: 20px;

    font-size: 2em;
}

#menu-burguer {
    background-color: rgb(9, 9, 73);
    display: block;
    color: white;
    text-align: center;
    padding: 7px;
}

#menu-burguer:hover {
    background-color: rgb(7, 7, 58);
    color: white;
    cursor: pointer;
}

nav {
    display: none;
    background-color: rgb(14, 14, 100);
    padding: 10px;
    text-align: center;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li > a {
    display: block;
    padding: 10px;

    background-color: white;
    color: rgb(23, 23, 182);

    text-decoration: none;
    text-align: center  ;
    font-weight: bold;
    border-bottom: 1px solid rgb(196, 192, 192);

    transition: 0.1s;
}

nav > ul > li > a:hover {
    background-color: rgb(236, 235, 235);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.363);
}

section {
    scroll-margin-top: 10px;
}

section > article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 10px;
    line-height: 2rem;
}

section > article > h2 {
    color: white;
    background: linear-gradient(to right, rgb(15, 15, 112), rgba(83, 83, 204, 0.75));
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    transition: 0.2s;
}

section > article > h2:hover {
    background-color: rgb(15, 15, 112);
    transform: scale(1.01);
}

#home, #estudos {
    margin-bottom: 20px;
}