/* TYPICAL DEVICE BREAKPOINTS (RESUMIDO)
----------------------------
Phone: até 768px
Tablet: 769px até 1023
Desktop: 1024px até 1279px
Large Desktop: acima de 1280px 
----------------------------
*/

@media screen and (min-width: 769px) and (max-width: 1023px) {
    body {
        background-image: linear-gradient(to top, #b7ceb3, #2d3f2b);
    }

    #login {
        width: 80vw;
        min-height: 360px;
    }

    #imagem {
        float: left;
        width: 40%;
        min-height: 360px;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 60%;
        padding: 18px 18px 20px;
    }

    #formulario h1 {
        font-size: 1.8em;
    }

    #formulario p {
        font-size: 0.95em;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-image: linear-gradient(to top, #b7ceb3, #2d3f2b);
    }

    #login {
        width: 950px;
        min-height: 400px;
    }

    #imagem {
        float: right;
        width: 50%;
        min-height: 400px;
        height: 100%;
    }

    #formulario {
        float: left;
        width: 50%;
        padding: 30px 26px 24px;
    }

    #formulario h1 {
        font-size: 2em;
    }

    #formulario p {
        font-size: 1.05em;
    }
}